header{
   background-color:#03a9f4 ;
   background-image: url(../img/pattern.png) ;
   background-size: 30%;
}
#logo{
    height: 60px;
    margin-top: 25px;
}
header,main,footer{
    margin-left: 15%;
    margin-right: 15%;
}
h1{
    margin-bottom: 0%;
    font-size: 33px;
}
.sottotitolo{
    color: grey;
    margin-top: 0%;
}
#link{
    color: #99cbff;
    text-decoration: none;
}
.tim-berners{
 width: 49%;
 height: 320px;
}
.commento{
    font-size: 10px;
    margin-top: 0%;
}
.yellow{
    background-color: yellow;
}
ul{
    padding-left: 2%;
}
table{
    border-spacing: 0px;
}
thead,td{
    width: 10%;;
}
th{
    background-color:#03a9f4;
    color: white;
    text-align: left;
}
#white{
    background-color: white;
}
.blue{
    background-color: #99cbff;
}
#pubblicità1{
    background-image: url(../img/monitor.jpg);
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}
#pubblicità2{
    background-image: url(../img/graph.jpg);
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}